.buy {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	width: 50rem;
	height: 100%;
	background-color: var(--white);
	margin: 0 auto;
	padding: 0.625rem;
	border-top-left-radius: 0.3125rem;
	border-top-right-radius: 0.3125rem;
}

.buy label,
h3 {
	color: var(--blue);
}

.buy_complete {
	display: flex;
	width: 50rem;
	height: 100%;
	margin: 0 auto;
	gap: 0.3125rem;
	padding: 0.625rem;
	background-color: var(--white);
	border-bottom-left-radius: 0.3125rem;
	border-bottom-right-radius: 0.3125rem;
}